node_modules/
playwright-report/
test-results/
node_modules/
playwright-report/
test-results/
allure-results/
allure-report/
failure-data/
logs/

# Environment files
.env
.env.*

# Mac files
.DS_Store